<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://toying.coding.net/p/wanipa/git/raw/master/huobi-0.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>0
                        <key>url</key>
                        <string>https://file.huobiasia.vip/global/en-us/static/huobi57@2x.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://file.huobiasia.vip/global/en-us/static/huobi57@1x.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.huobi.company</string>
                    <key>bundle-version</key>
                    <string>5.3.7</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>全球领先的数字资产交易平台</string>
                    <key>title</key>
                    <string>火币Pro</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
